
.header .search-bar{
    min-width: 360px;
    padding: 0 20px;
}
@media(max-width:1199px){
    .header .search-bar{
        position: fixed;
        top: 50px;
        left: 0;
        right: 0;
        padding: 20px;
       background: white;
       z-index: 9999;
       transition: 0.3s;
       visibility: hidden;
       opacity: 0;
    }
    .header .search-bar-show{
        top: 60px;
        visibility: visible;
        opacity: 1;

    }
    .header .search-form{
        width: 100%;
    }
    .header .search-form input{
        border: 0;
    }
}
