
/* Genaral */
:root{
  scroll-behavior: smooth;
  --primary:#4154f1;
  --secondary:#717ff5;
  --bgColor:#f6f9ff;

}

body{
  color:#444444;
  background: var(--bgColor);
}
a{
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}
a:hover{
  color: var(--secondary);
  text-decoration: none;
}




